# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Cmake files.
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Build artifacts.
Build/
Libraries/

# macOS Finder's cache files.
.DS_Store

# VSCode project files.
.vscode/

# Ignore Code::Blocks project files.
bin/
obj/
*.cbp
*.depend